<section class="blog-section">
  <div class="blog-header-div">
    <h1 class="Aboutpage-header">Welcome To Olounjeiya Blog</h1>
  </div>

  <div class="row blogpage-layout">
  <div class="col-lg-8 latest-review-div" >

     <% if(allPosts != '') { %>
     <%  allPosts.forEach(function(post, index) { %>

       <div class="latest-image-div" >

           <a href="/post/<%= post._id %>" class="">
           <img src="/uploads/<%= post.image %>" alt="<%= post.title %>" loading="lazy" class="latest-img">
           <div class="category-tag"> <%= post.categories %> </div> </a>

            <div class="post">
              <p class="post-date"><%= post.date %> </p>
              <h3 class="post-title"><%= post.title %></h3>
              <p><%= post.description %></p>

              <a href="/post/<%= post._id %>">Continue Reading</a></div>

            </div>
       <hr>
       <% }) %>
       <% } else { %>
       <p>No items found.</p>
       <% } %>


    </div>











<div class="col-md-4 ba-div">

  <div class="blog-aboutdiv ">
    <img src="/img/DSC_2844 (2).JPG" alt="" class="about-img">
    <h3 class="about-header">Hi! I'm Yetunde Olounjeiya</h3>
    <p class="about-tag">an unapologetic foodie</p>
    <p class="about-paragraph">I love to explore, and document exciting fun reviews of Nigerian dishes/meals.
       </p>
    <button class=" abt-button" type="button" name="button" onclick="location.href='/about'">READ MORE</button>
  </div>
  <div class="">
    <h3>Subscribe to our Newsletter</h3>
    <label for="newsletter1" class="visually-hidden">Your Name</label>
    <input id="newsletter1" type="text" name="fName" class="form-control" placeholder="Your Name">
    <label for="newsletter1" class="visually-hidden">Email address</label>
    <input id="newsletter1" type="text" name="email" class="form-control" placeholder="Your Email Address">
    <button class="w-100 btn btn-dark" type="submit">Sign Me Up!</button>
  </div>
</div>





</div>

</section>
